<form name="blogForm" ng-submit="save()">


    <div ng-if="!id || editing" class="form-group col-sm-12">
        <label class="col-sm-2 control-label">名称: </label>
        <div class="col-sm-8">
            <input type="text" required ng-model="blog.title" class="form-control input-xxxl" placeholder="请输入博客标题"
                   autocomplete="off">
        </div>
    </div>
    <div ng-if="id && !editing" class="form-group">
        <div class="h2 text-center">{{blog.title}}</div>
    </div>
    <div ng-if="id && !editing" class="form-group text-center">
        <label>创建时间: </label><span>{{blog.createdTime | date:'yyyy-MM-dd HH:mm'}}</span>
        <label>更新时间: </label><span>{{blog.updatedTime | date:'yyyy-MM-dd HH:mm'}}</span>
    </div>
    <button ng-if="id && !editing" class="col-sm-offset-8 btn btn-primary" ng-click="toEdit()">编辑</button>
    <div ng-if="!id || editing" class="form-group col-sm-12">
        <label class="col-sm-2 control-label">内容: </label>
        <div class="col-sm-8">
            <text-angular ng-model="blog.content"></text-angular>
        </div>
    </div>
    <div ng-if="id && !editing" class="form-group">
        <div class="col-sm-offset-1 col-sm-10" ta-bind ng-model="blog.content"></div>
    </div>
    <div ng-if="!id || editing" class="form-group">
        <div class="col-sm-8 col-sm-offset-2">
            <button class="btn btn-primary btn-lg" type="submit">保存</button>
        </div>
    </div>
</form>