@import 'bower_components/bootstrap/less/bootstrap';
@import 'bower_components/font-awesome/less/font-awesome';
@import 'styles/angular-ui';
@import 'styles/angular-bootstrap';
@import 'styles/dialogs';
@import 'styles/icon/style';


html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 70px;

    & > div {
        position: absolute;
        top: 70px;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: auto;
        overflow: visible;
    }
}

.toasts {
    z-index: 1000000;
    position: fixed;
    width: 500px;
    top: 100px;
    left: 50%;
    margin-left: -250px;
    text-align: center;
}

.video-entity {
    vertical-align:text-top;
    text-align: center;
    background-color: #8c8c8c;
    color: #e7e7e7;
    line-height: 90px;
}

.ta-editor {
  min-height: 300px;
  height: auto;
  overflow: auto;
  font-family: inherit;
  font-size: 100%;
  margin:20px 0;
}